<div class="container">
   	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">Your projects</div>
				<div id="projectlist" class="panel-body">
					
				</div>
			</div>
			<button id="create-project-button" class="btn btn-primary" style="float: right;"><span class="glyphicon plus"></span> Add project</button>
		</div>
	</div>
</div>